:root {
    --blue: #3959d7;
    --gray: #6d7b93;
    --light_blue: #e7f3fc;
    --button_color: #3656d4;
    --dark-blue: #1f3e72;
}

* {
    margin: 0 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(90deg, white 50%, var(--light_blue) 50%);
    display: flex;
}

#hdr-left-side {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#hdr-right-side {
    display: flex;
    width: 50%;
    align-items: center;
}

#logo {
    color: var(--button_color);
    text-align: center;
    vertical-align: middle;
    padding: 5%;
}

a.nav-links {
    color: gray;
    margin: auto 30px auto 30px;
    text-decoration: solid;
}

h2, h3 {
    color: var(--dark-blue);
}

h4, p {
    color: var(--gray);
}

h2{
    font-size: 35pt;
}

h3 {
    font-size: x-large;
}

h4 {
    font-size: large;
}

.blue-button {
    background-color: var(--button_color);
    color: aliceblue;
    border: 0;
    border-radius: 5px 5px;
    padding: 10pt 15pt;
    font-weight: 600;
    font-size:medium;
}

.container{
    width: 100%;
    margin-bottom: 10px;
    font-size: 0;
}

.container>* {
    font-size: medium;
}

.left-division {
    display: inline-block;
    height: 50%;
    width: 50%;
    vertical-align: top;
}

.left-division>*{
    display: block;
    margin: 30px auto;
    width: 50%;
}

.left-division>h2 {
    margin-top: 0px;
}

.left-division ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
}

.left-division ul *{
    display: inherit;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}

.right-division {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 593px;
}

#one {
    background-image: url("./images/background-1.png");
    background-size: 50% 100%;
}

#one>:not(.location-bar){
    display: inline-block;
    width: 50%;
    padding: 0 0;
    vertical-align: bottom;
}

#one .left-division {
    margin-bottom: 350px;    
}

.location-bar {
    position: absolute;
    width: 70%;
    /* display: flex;
    justify-content: space-around;
    align-content: center; */
    bottom: 10px;
    left: 50px;
    height: 75pt;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255, .85);
    border-radius: 10px 10px;
    box-shadow: 5px 15px 25px 3px #888888;
}

#bar-title {
    position: absolute;
    top: -35pt;
    left: 10pt;
}

#bar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon{
    width: 30px;
    height: 30px;
}

.location-bar>div>:not(h3){
   display: inline-block;
}

.location-bar h3 {
    margin: 2px 0px 2px 35px;
}

#horizontal-banner {
    display: block;
    width: 80%;
    margin: auto auto 15px auto;
}

#two {
    height: 500px ;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#two img {
    height: 50px;
    width: 50px;
}

#two>div:first-child {
    width: 25%;
    margin-left: 10vw;
}

#benefits {
    display: flex;
    justify-content: space-around;
    margin: 0 25px;
}

#benefits>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 200px;
    height: 240px;
    /* border: 0px solid black; */
    border-radius: 10px 10px;
    box-shadow: 1px 10px 35px -30px #888888;
    padding: 10px 20px;
}

#three {
    padding-right: 50px;
}

.dropdown {
    margin: 20px 0;
    width: 70%;
    left: 0px;
}

.dropdown li{
    text-decoration: none;
    margin: 15px 0;
    list-style-type: none;
}

.dropdown li *:not(.icon) {
    display: inline-block;
    vertical-align: middle;
}

.dropdown .icon {
   float: right;
}


